BODY {
    margin: 0px;
}


#brushes {
    border: 1px solid black;
    background-color: #ddd;
    display: inline-block;
    vertical-align:top;
    padding: 15px;
}
.brush {
    display:inline-block;
    width: 25px;
    height: 23px;
    border: 1px solid black;
    margin: 5px;
}
.copper {
    background-color: #804C00;
}
.head {
    background-color: red;
}
.tail {
    background-color: yellow;
}
.blank {
    background-color: black;
}


#buttons {
    border: 1px solid black;
    background-color: #ddd;
    display: inline-block;
    vertical-align:top;
    padding: 15px;
}
#buttons BUTTON {
    border: 1px solid black;
    background-color: white;
    width: 80px;
    display: inline-block;
    height: 30px;
    margin: 5px;
}

#instructions {
    border: 1px solid black;
    background-color: #ddd;
    display: inline-block;
    vertical-align:top;
    padding: 10px 15px 11px 15px;

}
#instructions UL {
    font-size: 10pt;
    font-family: Arial, sans-serif;
    margin: 0 0 0 10px;
    padding: 0;
}


#save {
    border: 1px solid black;
    background-color: #ddd;
    display: inline-block;
    vertical-align:top;
    padding: 15px;
}
#save BUTTON {
    border: 1px solid black;
    background-color: white;
    width: 80px;
    display: inline-block;
    height: 30px;
    margin: 5px;
}
#save TEXTAREA {
    border: 1px solid black;
    background-color: white;
    display:block;
    clear:both;
    width: 768px;
}




.automata {
    display: block;
    position: relative;
    width: 800px;
    height: 600px;
}

    .automata #cnv {
        cursor: pointer;
        background-color: transparent;
        display: block;

        position: absolute;
        width: 800px;
        height: 600px;
    }
    .automata #cnv:active {
        cursor: pointer;
    }

    .automata .background {
        background-color: black;
        position: absolute;
        width: 800px;
        height: 600px;
    }

    .automata .grid{
        background-color: transparent;
        position: absolute;
        width: 800px;
        height: 600px;
    }